*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html, h1, h2, h3, h4, h5, h6, p { font-size: 100%; padding: 0; margin: 0; height:100%;}
a, li{ text-decoration: none; color:white;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; } 
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.Navigation{
    width:100%;
    height:80px;
    background-color: #960258;
    float:left;
    position:fixed;
    z-index:999;
    
}
.logo{
    width:80px;
    height:80px;
    float:left;
    margin-left:5%;
    overflow: hidden;
}
.logo img{
    width:100%;
    height:100%;
}
.logo h2{
    color:white;
}
.logoName{
    width:auto;
    height:50px;
    float:left;
    padding: 5px;
}
.logoName h1{
    color:white;
    font-size:48px;
}
.bar{
    width:auto;
    height:80px;
    float:right;
    margin-right: 5%;
}
.bar p{
    height:80px;
    width:80px;
    padding: 10px;
    padding-top:50px;
    display: inline-block;
}
.bar a{
    
}
.bar a:hover p{
    color:#960258;
    background-color: white;
    -webkit-transition-duration:1s; 
}

.slideImage{
    width:100%;
    height:580px;
    margin-top:80px;
    background-image: url(../src/misc/images/slide.jpg);
    background-size:cover;
    background-position: fixed;
    float:left;
    overflow: hidden;
}
.welcomeText{
    width: 100%;
    height:500px;
    background-color: rgba(54, 54, 54, 0.5);
    float:left;
    overflow: hidden;
}
.welcomeText h1{
    color:white;
    font-size:42px;
    display: block;
    text-align: center;
    height:auto;
    padding:20px;
    margin-top:100px;
}
.searchBar{
    width:500px;
    height:40px;
    background-color: white;
    float:left;
    margin-left: 32%;
    margin-top: 40px;
}
.searchBar input {
    width:500px;
    border:none;
    margin: 0;
    padding:10px;
    height:40px;
    color:#960258;
    font-weight: bold;
    font-size:20px;
}
.button{
    border:none;
    margin: 25px 180px;
    width:200px;
    height:40px;
    background-color: #960258;
    color:white;
    font-size:24px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    padding-top:2px;
    overflow: hidden;
}
.button img{
    width:30px;
    height:30px;

}
.Sicon{
    font-size:28px;
    float:right;
    margin-top:5px;
    margin-right:10px;
}
.userCount{
    width:100%;
    height:80px;
    background-color:rgba(51, 51, 51, 0.8);
    float:left;
    border-top:2px solid #960258;
    padding-left:20%;
}
.countBox{
    width:20%;
    height:100%;
    color:white;
    font-size:24px;
    padding-top:25px;
    text-align: center;
    float:left;
    margin-right:10%; 
}
.howIts{
    width:100%;
    height:auto;
    float:left;
    background-color: rgb(243, 243, 243);
}
.boxHow{
    width:25%;
    height:100%;
    float:left;
}
.IMG{
    width:100%;
    height:200px;
    float:left;
}
.IMG img{
    width:60%;
    height:100%;
    margin-left:20%;
}
.boxHow p{
    display: block;
    height:50px;
    width:100%;
    float: left;
    margin-top:25px;
    text-align: center;
    color:rgb(39, 38, 38);
    font-size:20px;
    font-weight:bold;
    padding-top:10px;
    margin-bottom: 10px
}
.desc p{
    float:left;
    color:rgb(39, 38, 38);
    font-size:14px;
}
.delTime{
    width:100%;
    height:250px;
    float:left;
    background-color: #960258;
    padding-left:25%;
    overflow: hidden;
}
.delTime h2{
    color:white;
    float:left;
    margin-top: 10%;
    font-size:40px;
    padding:0;
    height:auto;
}
.delTime p{
    color:white;
    font-size:150px;
    float:left;
    margin-top:2%;
    height:100px;
    display: block;
}
.resContainer{
    width:100%;
    height:auto;
    float:left;
    padding-bottom:10px;
}
.heading{
    width:30%;
    height:auto;
    float:left;
    margin-left: 35%;
    text-align: center;
    margin-top:25px;
}
.heading p{
    font-size:36px;
    font-weight:bold;
    padding-bottom: 5px;
    /* -webkit-box-shadow: 3px 3px 5px 3px #ccc; */
}
.line{
    border-bottom:5px solid #960258;
    width:30%;
    height:auto;
    float:left;
    margin-top:10px;
    -webkit-box-shadow: 3px 3px 5px 3px #ccc;
    margin-left: 35%;
    margin-bottom:20px;
}
.resInner{
    width:100%;
    height:480px;
    float:left;
    transition: .5s ease;
    overflow: hidden;
}
/* 1 box for resturant */

.resBox{
    width:19%;
    height:240px;
    background-color: #ccc;
    transition: .5s ease;
    float:left;
    margin:5px;
    background-position: cover;
    background-size: 150%;
    position: relative;
    /* background-image: url(./misc/images/lalqila.jpg) */
}
.resBox img{
    width:100%;
    height:100%;
    position: absolute;
}
.resCaption{
    width:100%;
    height:0px;
    background-color:rgba(150, 02, 88, 0.8);
    float:left;
    -webkit-transition-duration:1s;
    position:absolute;
}
.resBox:hover .resCaption{
    height:100%;
    -webkit-transition-duration:1s;
    overflow: hidden;
}
.visitBtn{
    width:100px;
    background-color: white;
    float:left;
    margin-top: 35%;
    margin-left: 30%;
    height:0px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
}
.resBox:hover .visitBtn{
    height:50px;
    width:100px;
    -webkit-transition-duration: 1s;
    float:left;
}
.resBox:hover .visitBtn p{
    text-align: center;
    font-size:18px;
    font-weight:bold;
    color:#960258;
    margin-top:15px;
}
.visitBtn p{
    text-align: center;
    font-size:0px;
    font-weight:bold;
    color:#960258;
    -webkit-transition-duration: 0.2s;
    margin-top:15px;
}
.descreption p{
    color:white;
    font-size:24px;
    padding: 10px;
    font-weight:bold;
}
/* 1 box for resturant */

.footer{
    width:100%;
    height:auto;
    overflow: hidden;
    background-color: rgb(41, 40, 40);
    float:left;
}
.footerRight{
    width:25%;
    height:100%;
    float:right;
    /* background-color: rgb(41, 40, 40); */
}
.footerRight img{
    width:50%;
    height:50%;
    margin-left:30%;
    margin-top:30%;
}
.footerRight h1{
    color:white;
    font-size:36px;
    margin-left:40%;
    margin-top: -5%;
}
.leftWrapper{
    width:70%;
    height:300px;
    margin-top:5%;
    margin-left:5%;
}
.address{
    width:100%;
    height:40px;
    padding:10px;
    background-color: #960258;
    float:left;
    color:white;
    text-align: left;
    margin-top:5%;
}
.fBox{
    width:30%;
    height:300px;
    float:left;
}
.fBox h3{
    color:white;
    width:200px;
    height:auto;
    padding:10px;
    font-size:20px;
    border-bottom:1px solid #960258;
}
.fBox ul{
    margin-top:30px;
    padding: 0;
}
.fBox ul li {
    margin:10px;
    list-style: none;
    color:#ccc;
    font-size: 18px;
} 
.formWrapper{
    width:100%;
    height:600px;
    float:left;
    padding-top:10%;
}
.formInner{
    width:30%;
    height:80%;
    float:left;
    border-top:4px solid #960258;
    margin-left:40%;
    background-color: rgb(226, 224, 224);
}
.formInner h1{
    height:auto;
    text-align: center;
    font-size:24px;
    padding:10px;
}

.formInner p{
    width:90%;
    height:40px;
    margin-left:5%;
    float:left;
    color:rgb(90, 88, 88);
    padding:10px;
    font-size:18px;
    font-weight:bold;
}
.formInner input{
    width:90%;
    height:40px;
    margin-left:5%;
    color:#960258;
    float:left;
    border:none;
    font-size:18px;
    padding:10px;
    margin-bottom:25px;
    border:1px solid rgb(124, 123, 123);
}
.loginBtn{
    width: 200px;
    height:40px;
    clear:both;
    float:left;
    margin-left:25%;
    margin-top:10px;
    background-color: #960258;
}
.loginBtn p{
    color:white;
    margin:0;
    text-align: center;
    cursor: pointer;
}
.formInner .signup{
    height:auto;
    font-size:12px;
    margin-top:10px;
}
.signUpWrapper{
    width:100%;
    height:auto;
    float:left;
    padding:10% 0px;
}
.signUpInner{
    width:40%;
    height:auto;
    float:left;
    border-top:4px solid #960258;
    margin-left:30%;
    padding: 1% 0px;
    background-color: rgb(226, 224, 224);
}
.signUpInner h1{
    height:auto;
    text-align: center;
    font-size:20px;
    margin-bottom:20px;
}
.signUpInner p{
    width:30%;
    height:auto;
    float:left;
    font-weight: bold;
    padding:10px;
    border-right:2px solid #ccc;
    margin-bottom:10px;
}
.signUpInner input{
    float:left;
    padding:13px;
    width:68%;
    border:none;
    margin-bottom:10px;
}
.signUpInner select{
    float:left;
    padding:13px;
    width:68%;
    border:none;
    margin-bottom:10px;
}
.signupBtn{
    width:200px;
    height:40px;
    float:left;
    margin-left:35%;
    margin-top:2%;
    background-color: #960258;
    cursor: pointer;
}
.signupBtn p{
    color:white;
    border:none;
    padding-left:35%;
}
.panelWrapper{
    width:100%;
    height:500px;
    float:left;
    margin-top:80px;
}
.sideBar{
    width:10%;
    height:100%;
    float:left;
    overflow:hidden;
    background-color: #333333;
}
.sideNav{
    width:100%;
    height:15%;
    float:left;
    margin-top: 5px;
}

.sideNav p{
    color:white;
    margin-top:28px;
    -webkit-transition-duration: 0.5s;
}
.sideNav p a{
    padding:30px 36px;
    font-size:13px;
    -webkit-transition-duration: 0.5s;

}
.sideNav p:hover a{
    background-color:#1a1a1a;
    padding:30px 36px;
    -webkit-transition-duration: 1s;

}
.sideNav1{
    width:100%;
    height:15%;
    float:left;
    margin-top: 5px;
}

.sideNav1 p{
    color:white;
    display: block;
    -webkit-transition-duration: 0.5s;
}
.sideNav1 p a{
    padding:30px;
    display: block;
    font-size:13px;
    -webkit-transition-duration: 0.5s;

}
.sideNav1 p:hover a{
    background-color:#1a1a1a;
    padding:30px;
    -webkit-transition-duration: 1s;
}
.logOut{
    width:90%;
    height:50px;
    float:left;
    background-color: #333333;
}
.logOut p{
    width:100px;
    height:auto;
    float:right;
    text-align: center
}
.logOut p a{
    color:#fff;
    padding:15px;
    -webkit-transition-duration: 0.5s;
    display: block;
}
.logOut p a:hover{
    background-color: #fff;
    color:#960258;
    -webkit-transition-duration: 0.5s;
}
.logOut h4{
    color:white;
    height:auto;
    width:200px;
    float:right;
    font-weight: normal;
    padding:15px;
    text-align: center;

}
.viewPanel{
    width:90%;
    height:470px;
    /* background-color: green; */
    float:left;
}
.search{
    width:50%;
    height:40px;
    float:left;
    margin-top: 5px;
    margin-left:10px;
}
.search input{
    border:none;
    padding:5px;
    height:40px;
    width:100%;
    border:1px solid #333333;
}
.sBtn{
    float:left;
}
.sBtn p{
    width:100px;
    height:auto;
    float:left;
    margin-left:5px;
    text-align: center
}
.sBtn p a{
    color:#333333;
    padding:10px;
    -webkit-transition-duration: 0.5s;
    display: block;
    margin-top:5px;
    background-color: #fff;
}
.sBtn p a:hover{
    background-color: #fff;
    color: #1a1a1a;
    -webkit-transition-duration: 0.5s;
}